<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <h1 class="h3">Pizzas</h1>
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"><%= link_to 'New', new_pizza_path, class: 'nav-link' %></li>
      </ul>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Toppings</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @pizzas.each do |pizza| %>
          <tr>
            <td><%= link_to pizza.name, pizza %></td>
            <td><%= pizza.description %></td>
            <td><%= pizza.topping_names %></td>
            <td>
              <%= link_to 'Edit', edit_pizza_path(pizza) %> |
              <%= link_to 'Delete', pizza_path(pizza), data: {
                                    turbo_method: :delete,
                                    turbo_confirm: 'Are you sure?'
                                  } %>
            </td>
          </tr>
        <% end %>
        <% if (@pizzas.empty?) %>
          <tr><td colspan="4">You have no pizzas.</td>
        <% end %>
        <tbody>
      </table>
      <hr />
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"><%= link_to 'New', new_pizza_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>
</div>