<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <h1 class="h3"><%= @pizza.name %></h1>
      <p><%= @pizza.description %></p>
      <p><strong>Toppings:</strong> <%= @pizza.topping_names %></p>
      <hr />
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
          <%= link_to 'Edit', edit_pizza_path(@pizza), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Delete', pizza_path(@pizza), class: 'nav-link',  data: {
                                    turbo_method: :delete,
                                    turbo_confirm: 'Are you sure?'
                                  } %>
          </li>
        <li class="nav-item"><%= link_to 'List', pizzas_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>
</div>
      
